*{
    padding: 0px 0px;
    margin: 0px;
}
body{
    display: flex;
    flex-direction: row;
    align-content: left;
    justify-content: space-around;
}
.container{
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-top: 100px;
    width: 337px;
    height: 350px;
    background: white;
    border: 2px solid rgb(107, 104, 104);
    border-radius: 5px;
}
.label{
    padding: 19px 35px;
    font-size: 25px;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.Sign_form{
    padding: 0px 37px;
    
}
.Sign_form .font{
    font-size: 16px;
    color: black;
    margin: 11px 2px;
    font-family: bold;
}
.Sing_form .font2{
    margin-top: 10px;
}

input[type="text" i] {
    padding: 6px 41px;
    border: 1px solid #000000;
}

input[type="password" i] {
    padding: 6px 41px;
    border: 1px solid #000000;
}

.btn1{
    margin: 14px 63px;
    height: 44px;
    width: 116px;
    font-size: 21px;
    color: white;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background: #2E86C1;
    border-radius: 4px;
    border: 1px solid #2E86C1;
    transition: .5s;
    font-family: 'Roboto', sans-serif;
    
}
.btn1:hover{
    background:  #12344b ;
}

.btn{
    margin: 12px 100px;
    height: 44px;
    width: 116px;
    font-size: 21px;
    color: white;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background: #2E86C1;
    border-radius: 4px;
    border: 1px solid #2E86C1;
    transition: .5s;
    font-family: 'Roboto', sans-serif; 
}

.btn:hover{
    background:  #12344b ;
}